#overlay-root {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 100vh;
}
ul {
  list-style: none;
  padding: 0;
}
li button {
  background-color: #fcfcfc;
  color: rgb(0, 0, 0);
  padding: 5px 8px;
  font-size: 12px;
}
li {
  
  padding: 8px 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}